body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#backgroundVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; 
    transform: translate(-50%, -50%); 
    object-fit: cover; 
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}


#mainImage {
    width: 200px;
    transition: all 0.3s ease;
}


h1 {
    font-size: 28px;
    color: #68495b;
}


button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: all 0.3s ease;
}

#yes {
    background-color: #FF7E00; 
    color: white;
}

#no {
    background-color: #6784b1; 
    color: white;
    position: relative;
}


.yes-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff; 
    background-image: url('images/background-yes.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.yes-screen.yes-text {
    font-size: 32px;
    margin-bottom: 30px;
}

.yes-screen.yes-image {
    width: 300px;
}    